.banner-blog {
    width: 100%;
    height: 330px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 300px;
    background: linear-gradient(0deg, rgba(1, 44, 95, 0.70) 0%, rgba(1, 44, 95, 0.70) 100%), url(/img/banner-blog.png), lightgray 2.138px -569.599px / 100% 288.094% no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    gap: 8%;
}

.banner-blog h1 {
    color: #FFF;

    /* T1-Open Sans */
    font-size: 53.41px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.banner-blog p {
    color: #FFF;
    text-align: justify;
    /* P3-Montserrat */
    font-size: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container {
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 4%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.menu {
    width: fit-content;
    height: 50%;
    display: flex;
    padding-right: 2.5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu h2 {
    margin-bottom: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34.18px;
    line-height: 35px;
    text-transform: uppercase;
    color: #012C5F;
}


.lista-categorias {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.lista-categorias ul {
    list-style: none;
}

.lista-categorias ul li {
    margin-bottom: 30px;
    font-style: normal;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 22px;
    color: #012C5F;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.lista-categorias ul li a:hover {
    font-weight: bold;
}


#TP:before {
    content: "";
    background-color: #E46732;
    width: 8px;
    height: 50px;
    display: inline-block;
    margin-right: 5px;
}

#TP {
    font-weight: bold;
}

.articulos {
    height: 900px;
    max-width: 100%;
    padding-left: 2.5%;
    margin-bottom: 10px;
    border-left: 2px solid #012C5F;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    gap: 3% 5%;
}

.articulos a:hover .articulo{
    background-color: rgba(1, 43, 95, 0.25);
}

.articulo {
    width: 430px;
    height: 430px;
    padding: 10px 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    background: #D8E6F4;
    border-radius: 5px;
}

.articulo-img {
    width: 410px;
    height: auto;
}

.articulo-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.articulos-info p {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    color: #012C5F;
}

.articulo-titulo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.88px;
    line-height: 30px;
    text-align: justify;
}

.articulo-descripcion {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: rgba(1, 56, 123, 0.7);
}

.articulo-autor {
    display: inline-flex;
}

.autor-info{
    display: block;
    margin-left: 15px;
}

.autor-info p {
    width: 100%;
    height: fit-content;
    margin: 5px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.autor-info small {
    width: 100%;
    height: fit-content;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    line-height: 18px;
}