.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    max-width: 94%;
}

.menu-vertical {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 20%;
    height: 100vh;
    padding-top: 2%;
    position: sticky;
    overflow: auto;
    top: 0;
    margin-top: 10px;
    border-right: solid 1px #012C5F;
}

.menu-vertical .icono {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding-right: 5%;

}

.menu-vertical .icono h1 {
    text-align: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #012C5F;
    border-radius: 10px;
}

.menu-vertical .opciones ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-right: 5%;

}

.menu-vertical .opciones ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

    width: 100%;
    height: 50px;
    padding: 5px;
    border-radius: 10px;

    font: Open Sans;
    font-size: 20px;
    text-transform: uppercase;
}

.menu-vertical .opciones ul li:hover {
    background-color: #D8E6F4;
}


.panel {
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    padding-bottom: 10%;
}

.panel h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    width: 100%;
    border-bottom: #012C5F solid 3px;
    padding: 0.5%;

    /*
    height: 140px;
    background-image: url(/img/decoracion1.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 950px 135px;
    */

}

/*
.panel-contenido {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    width: 100%;
    height: auto;
}
*/