.banner-inicial {
    position: block;
    width: 1346px;
    height: 450px;
    left: 42px;
    top: 78px;
    background-image: url("/Media/Images/Recursos/Banner-Inicial.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-inicial h1 {
    position: absolute;
    width: 935px;
    height: 214px;
    right: 52px;
    top: 78px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 53.41px;
    line-height: 73px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    /* Fondo */

    color: #FFFFFF;
}

.banner-inicial p {
    position: absolute;
    width: 645.13px;
    height: 77.29px;
    left: calc(50% - 645.13px/2 + 200.57px);
    top: 268px;

    /* P3-Montserrat */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    /* Fondo */

    color: #FFFFFF;
}

.banner-inicial button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 10px;

    position: absolute;
    width: 300.55px;
    height: 66.13px;
    left: calc(50% - 300.55px/2 + 200.28px);
    top: 383.73px;

    /* Orange-Terciario */

    background: #E46732;
    border-radius: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 27.34px;
    line-height: 37px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}