.banner-servicio {
    width: 100%;
    height: 330px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    background: linear-gradient(0deg, rgba(1, 44, 95, 0.70) 0%, rgba(1, 44, 95, 0.70) 100%), url(/img/banner-servicios.png), lightgray 2.138px -569.599px / 100% 288.094% no-repeat;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    gap: 8%;
}

.banner-servicio h1 {
    color: #FFF;

    /* T1-Open Sans */
    font-size: 53.41px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.banner-servicio p {
    color: #FFF;
    text-align: justify;

    /* P3-Montserrat */
    font-size: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container {
    width: 90%;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.menu {
    width: 30%;
    height: 50%;
    padding: 10px 13px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: sticky;
    overflow: auto;
    top: 0;
}


.contenido {
    width: 70%;
    padding-top: 2.5%;
    padding-left: 2.5%;
    border-left: 2px solid #012C5F;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista-servicios {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.lista-servicios ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lista-servicios ul li {
    margin-bottom: 20px;
    font-style: normal;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 22px;
    color: #012C5F;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.lista-servicios ul li.selected {
    position: relative;
}


.lista-servicios ul li a:hover {
    font-weight: bold;
}

.contenido h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42.72px;
    text-align: center;
}

.contenido h3 {
    margin-left: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34.18px;
}

.contenido p {
    margin-left: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #000000;
}

.contenido strong {
    margin-right: 0px;
    /* Ajusta el margen derecho según tus necesidades */

}


.contenido ol {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenido ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenido li {
    margin-left: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #000000;
}

.contenido a {
    font-weight: bolder;
}

.contenido a:hover {
    color: #E46732;
}

.contenedor-casos {
    width: 100%;
    padding-left: 5%;
    font-style: italic;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

.contenedor-casos p {
    width: 50%;
    height: auto;
    font-size: 18px;
}

.contenedor-casos img {
    width: 40%;
    height: auto;
}