/*COLORES
    #012C5F
    #013878
    #E46732
    #D8E6F4
    #FFFFFF
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', Arial;
    font-weight: 700;
    font-size: 14px;
    color: #012C5F;
    top: 0;
    bottom: 0;
    right: 0;
}

p,
input {
    font-family: 'Montserrat', Lucida Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    color: #012C5F
}

a {
    color: #012C5F;
    text-decoration: none;
}

.link-sin-decoracion{
    text-decoration: none; /* Quita la decoración de los enlaces */
    color: inherit; /* Hereda el color del texto del contenedor padre */
}

button:hover{
    cursor: pointer;
}

