.container {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Ajusta la altura según tus necesidades */
}

.container h1 {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 87px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #012C5F;
}

.container button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 6px 60px;
    width: 410px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    background: #F9F9F9;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.container button:hover {
    background: #dfdede;
    ;
}

.container button img {
    width: 38px;
    height: 38px;

}

hr {
    width: 430px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.formulario {
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #013878;
}

.formulario input {
    width: 420px;
    height: 50px;
    padding: 0px 10px;

    font-size: 18px;

    background: #EFEFEF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

input.btn-form {
    background: #012C5F;
    border-radius: 10px;
    color: #FFFFFF;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

input.btn-form:hover {
    background-color: rgba(1, 43, 95, 0.85);
    cursor: pointer;
}

.politicas {
    width: 400px;
    height: auto;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.politicas small {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    padding: 5px;
}

.politicas small a {
    text-decoration: underline;
}

.politicas small a:hover {
    font-weight: bold;
}

#texto {
    width: fit-content;
    color: #656869;
    text-align: center;
    font-size: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.decoracion {
    opacity: 50%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}