.container {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* Ajusta la altura según tus necesidades */
}

.container h1 {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #012C5F;
}

.container button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
    padding: 6px 70px;
    width: 410px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #012C5F;

    background: #F9F9F9;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.container button:hover {
    background: #dfdede;
    ;
}

.container button img {
    width: 38px;
    height: 38px;

}

hr {
    width: 430px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.formulario {
    width: 450px;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formulario label , .formulario select {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #013878;
}


.formulario input, .formulario select {
    width: 420px;
    height: 42px;
    padding: 0px 8px;

    font-size: 16px;

    background: #EFEFEF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

input.btn-form {
    background: #012C5F;
    border-radius: 10px;
    color: #FFFFFF;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

input.btn-form:hover {
    background-color: rgba(1, 43, 95, 0.85);
    cursor: pointer;
}

.politicas {
    width: 400px;
    height: auto;
    margin-bottom: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

#politica {
    color: #656869;
    text-align: center;
    font-size: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.politicas small {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
    padding: 4px;
}

.politicas small a {
    text-decoration: underline;
}

.politicas small a:hover {
    font-weight: bold;
}

#texto {
    width: fit-content;
    color: #656869;
    text-align: center;
    font-size: 12px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.decoracion {
    opacity: 50%;
    position: fixed;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

.registro {
    display: none;
}

.telefono{
    width: 93%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.password{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

.password p{
    background-color: #c4c6c7;
    color: #656869;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password p:hover{
    cursor: pointer;
    background-color: #656869;
    color: #c4c6c7;
}

.restriccion{
    position: absolute;
    top: 67%;
    left: 42%;
    width: 22%;
    height: fit-content;
    text-align: left;
    padding: 1%;
    border-radius: 2%;
    border: solid 0.5px #012C5F;
    background-color: #fffffff1;
    color:#012C5F;
    font-size: medium;
}